@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
body {
    /* background-image: url(../images/cv-background-image2.png); */
    background-color: #0d0b0b;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    padding: 0;
    margin: 0;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* This will put the particles behind your other content */
  background-size: cover;
}

#main-header {
    background-image: url(../images/cv-background-image.png);
    font-family: 'Jost', sans-serif;    
    font-size: 30PX;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 2px solid #709d91;
    border-radius: 5px;
}
/* Styling for the home-navbar*/

#home-navbar {
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home-navbar a {
    display: block;
    padding: 10px;
    margin: 0 10px;
    color: #709d91;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 2px solid #709d91;
    border-radius: 5px;
}

#home-navbar a:hover {
    color: #fff;
    background-color: #333;
}

/* Styling for graph container on Index page */

.graph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .graph-bar {
    width: calc(25% - 10px);
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
  
  .graph-progress {
    height: 20px;
    background-color: #709d91;
    border-radius: 5px;
  }
  
  .graph-label {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #fbfcfd;
    text-align: left;
  }

 

.example-h3 {
    font-family: 'bebas neue', sans-serif;
    font-size: 30px;
    color: #709d91;
    text-align: center;
    margin: 0;
    padding: 10px;

}

/* Styling for the main content on Index page */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px; /* add max-width to prevent the containers from stretching too far */
    margin: 0 auto; /* center the container */
  }

  .card-h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
  }
  
  .card {
    background-color: #4e4646;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    width: calc(50% - 10px); /* add width to make the container sit next to each other */
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
  }

  
  @media (prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }

/* Styling for the images on lower Index page */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
}

.image {
    width: calc(25% - 10px);
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    text-align: center;
}

/* Styling for the main content on contact page */

#contact-header {
    background-image: url(../images/cv-background-image.png);
    font-family: 'Press Start 2P', cursive;    
    font-size: 30PX;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 2px solid #709d91;
    border-radius: 5px;
}

  /* Styling for the image carousel */
  #carousel img {
    display: none;
    width: 480px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #carousel img.active {
    display: block;
  }

/* Styling for the contact form on contact page */

.contact-form-section {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .contact-container {
    background-image: url(/assets/images/cv-background-image.png);
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  .contact-form-header {
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #acc8e6;
  }

/* Styling for the footer on Index page */

.element-above-footer {
  margin-bottom: 50px; /* add margin to create space between the element and the footer */
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
  margin-top: 50px; /* add margin to create space between the footer and the element above it */
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-links li {
  list-style: none;
  margin: 0 10px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.social-links i {
  font-size: 24px;
  color: #fff;
  transition: all 0.3s ease;
}

.social-links a:hover i {
  transform: scale(1.2);
}
