@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
body {
  background-image: url(../images/space-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  padding: 0;
  margin: 0;
}

body::after {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind the content */
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* This will put the particles behind your other content */
  background-size: cover;
}

#main-header {
  background-image: url(../images/starry-background-2.jpeg);
  font-family: 'Jost', sans-serif;    
  font-size: 30px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border: 2px solid #709d91;
  border-radius: 5px;
  transition: filter 2s;
  animation: fadeIn 2s ease-in-out;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7); 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* Styling for the home-navbar*/

#home-navbar {
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home-navbar a {
    display: block;
    padding: 10px;
    margin: 0 10px;
    color: #709d91;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 2px solid #709d91;
    border-radius: 5px;
}

#home-navbar a:hover {
    color: #fff;
    background-color: #333;
}

/* Styling for graph container on Index page */

.graph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .graph-bar {
    width: calc(25% - 10px);
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
  
  .graph-progress {
    height: 20px;
    background-color: #709d91;
    border-radius: 5px;
  }
  
  .graph-label {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #fbfcfd;
    text-align: left;
  }

 

.example-h3 {
    font-family: 'bebas neue', sans-serif;
    font-size: 30px;
    color: #709d91;
    text-align: center;
    margin: 0;
    padding: 10px;

}

/* Styling for the main content on Index page */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px; /* add max-width to prevent the containers from stretching too far */
    margin: 0 auto; /* center the container */
  }

  .card-h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
  }
  
  .card {
    background-color: #4e4646;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    width: calc(50% - 10px); /* add width to make the container sit next to each other */
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
  }

  
  @media (prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }
/* image carousel styling */
.carousel-container {
  max-width: 100%; /* Ensure the container never goes past the width of the page */
  overflow: hidden; /* Hide any content that overflows the container */
  margin-top: 50px;
  margin-bottom: 75px;
}

.carousel {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 75px;
  margin-top: 75px; /* You can also add a top margin here if needed */
  clear: both;
}

.carousel__track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.carousel__slide {
  width: 500px;
  height: 400px;
  flex: 0 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* Styling for the images on lower Index page */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
}

.image {
    width: calc(25% - 10px);
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    text-align: center;
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.resume-container img {
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/* Styling for the main content on contact page */

.work-experience {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    background-image: url(../images/starry-background-2.jpeg); ;
    width: 85%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7); 
}

#contact-header {
    background-image: url(../images/cv-background-image.png);
    font-family: 'Press Start 2P', cursive;    
    font-size: 30PX;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 2px solid #709d91;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7); 
}

  /* Styling for the image carousel */
  #carousel img {
    display: none;
    width: 480px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #carousel img.active {
    display: block;
  }

/* Styling for the contact form on contact page */


/* Styling for the footer on Index page */

.element-above-footer {
  margin-bottom: 50px; 
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
  margin-top: 50px; 
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-links li {
  list-style: none;
  margin: 0 10px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.social-links i {
  font-size: 24px;
  color: #fff;
  transition: all 0.3s ease;
}

.social-links a:hover i {
  transform: scale(1.2);
}

/* Styling for the projects page */

.projects-introduction {
  font-family: 'bebas neue', sans-serif;
  font-size: 30px;
  color: #709d91;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.projects-container {
  background-color: #112841;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: large;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7); 
  opacity: 0.9; 
}

.projects-container div {
  flex: 1 0 30%; 
  margin: 1em; 
}

.projects-container img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.cosmic-projects {
  background-color: #112841;
  padding: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 45px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: auto;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7); 
  opacity: 0.9; 
}

.cosmic-projects img {
  width: 600px; 
  height: auto;
  object-fit: cover;
  
  
}

.flex-container-projects {
  display: flex;
  justify-content: space-between;
}

.resume-section, .contact-section {
  width: 45%; 
  box-sizing: border-box;
}

.contact-section, ul {
  list-style-type: none;
  padding: 0;

}

.resume-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.resume-section img {
  width: 70%;
  height: 1000px;
  object-fit: contain;
}

.contact-section {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: auto;
  margin-top: 40px; 
  margin-bottom: 20px;
  padding: 20px; 
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7); 
  text-decoration: none;
  border-radius: 5px;
}

.contact-section h2, .contact-section h3, .contact-section p, .contact-section ul {
  text-align: center;
}