@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    background-image: url(../images/cv-background-image.png);
}

#main-header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    width: 50%;
    margin: 10px;
    float: left;
  }
  
  .clickable {
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
  }
  
  .content {
    display: none;
    padding: 10px;
    background-color: #fff;
  }
  